<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749769117892-v8umj4lml85ctj1ub5mr8tkgcgvmb07s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749769117892-v8umj4lml85ctj1ub5mr8tkgcgvmb07s</string>
	<key>API_KEY</key>
	<string>AIzaSyBX-z5L4210jx20OAzrYNn24tE7bd0mUGY</string>
	<key>GCM_SENDER_ID</key>
	<string>749769117892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motorapp.CatAPI</string>
	<key>PROJECT_ID</key>
	<string>catapi-42ad9</string>
	<key>STORAGE_BUCKET</key>
	<string>catapi-42ad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749769117892:ios:02a3e2a06c93a958413991</string>
</dict>
</plist>